/* .wrapper {
    display: flex;
} */

.participants, .tourn-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border: 3px solid black;
}

.bracket {
    float: left;
    clear: left;
}

.name-box {
    width: 25px;
    height: 10px;
}

.bracket-line {
    border-top: 2px solid #C000CC;
    position: absolute;
    float: right;
    width: 90px;
    margin-left: 10%;
}