.jumbotron {
    background-image: url('images/sbu.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: solid black;
    /* height: 14em; */
}

body {
    background-image: url("images/body-back.jpg");
    background-position: center center;
    background-size: cover;
}

.participants, .tourn-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border: 3px solid black;
}

.home-head {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    margin-top: 4em;
}

.home-text {
    font-weight: 400;
    text-align: center;
    font-size: 1.4em;
    margin-top: 1em;
}

.home-button {
    margin-top: 2em;
    border-radius: 20px;
}