/* .wrapper {
    display: flex;
} */

.participants, .tourn-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border: 3px solid black;
}

.bracket {
    float: left;
    clear: left;
}

.section {
    width: 70%; 
    height: 85vh; 
    float: left;
}

.section > div:nth-child(2n) {
    margin-bottom: 40px;
}

.name-box {
    width: 160px;
    height: 60px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 10px 10px 20px;
}

.bracket-line {
    border-top: 2px solid #C000CC;
    position: absolute;
    float: right;
    width: 90px;
    margin-left: 10%;
}